<?xml version="1.0" encoding="UTF-8"?>
<Server port="8005" shutdown="SHUTDOWN">
	<Listener className="org.apache.catalina.startup.VersionLoggerListener"/>
	<Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on"/>
	<Listener className="org.apache.catalina.core.JasperListener"/>
	<Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener"/>
	<Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener"/>
	<Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener"/>

	<GlobalNamingResources>
		<Resource name="UserDatabase" auth="Container"
				  type="org.apache.catalina.UserDatabase"
				  description="User database that can be updated and saved"
				  factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
				  pathname="conf/tomcat-users.xml"/>

		{% for resource in database.resources %}
		<Resource name="jdbc/{{ resource.name }}" auth="Container" type="javax.sql.DataSource"
				  global="jdbc/{{ resource.name }}"
				  factory="com.zaxxer.hikari.HikariJNDIFactory"
				  minimumIdle="5"
				  maximumPoolSize="10"
				  connectionTimeout="5000"
				  dataSourceClassName="org.mariadb.jdbc.MySQLDataSource"
				  dataSource.serverName="db"
				  dataSource.port="3306"
				  dataSource.databaseName="{{ resource.database }}"
				  dataSource.user="{{ database.user }}"
				  dataSource.password="{{ database.password }}"
		/>
		{% endfor %}
	</GlobalNamingResources>

	<Service name="Catalina">
		<Connector port="8080"
				   protocol="org.apache.coyote.http11.Http11NioProtocol"
				   connectionTimeout="20000"
				   redirectPort="8443"/>
		<Connector port="8009" protocol="AJP/1.3" redirectPort="8443"/>
		<Engine name="Catalina" defaultHost="localhost">
			<Realm className="org.apache.catalina.realm.LockOutRealm">
				<Realm className="org.apache.catalina.realm.UserDatabaseRealm"
					   resourceName="UserDatabase"/>
			</Realm>

			<Host name="localhost" appBase="webapps"
				  unpackWARs="true" autoDeploy="true">
				<Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs"
					   prefix="localhost_access_log." suffix=".txt"
					   pattern="%h %l %u %t &quot;%r&quot; %s %b"/>

				<Valve className="org.apache.catalina.valves.RemoteIpValve"
					   remoteIpHeader="X-Forwarded-For"
					   requestAttributesEnabled="true"
					   internalProxies="127\.0\.0\.1"  />
			</Host>
		</Engine>
	</Service>
</Server>
