<?xml version="1.0" encoding="UTF-8"?>
<tomcat-users>
	<role rolename="manager-gui"/>
	<role rolename="manager-script"/>
	<role rolename="admin-gui"/>
	<role rolename="admin-script"/>
	<user username="{{ tomcat.user }}" password="{{ tomcat.password }}" roles="manager-gui,manager-script,admin-gui,admin-script"/>
</tomcat-users>
